
<ion-content no-bounce>
 

  <div class="splash">
    <ion-row class="ion-align-items-baseline">
      <ion-col class="ion-justify-content-start">
        <ion-buttons>
          <ion-back-button defaultHref="/tab1"   (click)="dismiss()" style="color: beige;"></ion-back-button>
        </ion-buttons>
      </ion-col>  
    </ion-row> 
    <h1>Create Post</h1>
    <h3>
      Looking for travel advice? Want to share something interesting about a
      destination? Let's hear it!
    </h3>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="roundedInput">
            <ion-textarea
              [(ngModel)]="postText"
              rows="10"
              placeholder="Travel related content*"
              maxlength="250"
              autocapitalize="true"
              required
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="roundedInput">
            <ion-label>Location*</ion-label>
            <ionic-selectable
              [(ngModel)]="selectedLocation"
              [items]="locationOptions"
              itemValueField="id"
              itemTextField="name"
              [canSearch]="true"
            >
            </ionic-selectable>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="validation-errors">
      <div class="error-message" *ngIf="error">
        <ion-icon name="information-circle-outline"></ion-icon> Unexpected error
        when creating post
      </div>
    </div>
    <div class="button-div">
      <ion-row>
        <ion-col>
      <ion-button
        class="submit-button"
        expand="block"
        type="submit"
        (click)="post()"
        [disabled]="!postText && !selectedLocation"
        >Add post</ion-button
      ></ion-col>
    <ion-col>
      <ion-button
        class="submit-button"
        expand="block"
        type="submit"
        (click)="dismiss()"
        >Cancel</ion-button
      ></ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
