ion-content {
  padding-left: 5%;
  --background: none;

  h1 {
    padding-left: 5%;
    padding-top: 10%;
    font-size: 40px;
    font-weight: bold;
    color: white;
  }

  h3 {
    padding-left: 5%;
    font-size: 20px;
    color: white;
  }
}

.btn {
  border: none;
  background-color: inherit;
  font-size: 16px;
  display: inline-block;
}

.submit-button {
  --background: #fff;
  --background-activated: #fff;
  --ripple-color: #fff;
  --background-focused: #fff;
  --color-focused: #fff;
  color: #128C7E;

  --vertical-align: middle;
  padding-left: 5%;
  padding-right: 5%;
}

.button-div {
  padding-top: 10%;
}