
ion-tab-button{
    --background-focused: #E5634D;
    --color-selected: #128C7E;
}

.add-button{
    --background: #128C7E;
    --background-activated: #128C7E;
    --ripple-color: #128C7E;
    --background-focused: #128C7E;
    --color-focused: #128C7E;
}
