<ion-header style="background-color: #128c7e" class="ion-no-border">
  <ion-toolbar color="#128C7E" class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button slot="start" large (click)="dismiss()">
        <ion-icon class="close-icon" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button slot="end" (click)="presentSearchModal()">
        <img class="img-center" src="../../../assets/UI/search-outline.svg" />
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" color="light">
  <ion-refresher #refresherRef slot="fixed" (ionRefresh)="refreshPosts($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <post [posts]="posts"></post>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="getPosts($event)">
    <ion-infinite-scroll-content
      loadingSpinner="circles"
      loadingText="Getting more posts..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-fab class="map-filter-fab" vertical="bottom">
  <ion-button fill="clear" (click)="presentMapFilter()">
    <img src="../../assets/UI/FilterClosed.svg" />
  </ion-button>
</ion-fab>
