<ion-content [fullscreen]="true">
  <ion-list class="notifications-list">
    <ion-card *ngFor="let item of notifications">
      <ion-grid class="comments-grid">
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col>
                <img
                  src="../../../assets/stockPhoto.png"
                  class="user-pic img-center"
                />
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <img [src]="item.icon" />
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="2.5">
            <ion-row>
              <ion-col>
                <p>
                  <strong>{{item.name}}</strong> {{item.verbage}}
                  {{item.isComment == true ? "\"" + item.comment + "\"": ""}}
                </p>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-end">
              <ion-col class="ion-align-self-end">
                <ion-text color="medium">{{item.time}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
