<ion-header style="background-color:#128C7E" class="ion-no-border">
  <ion-toolbar color="#128C7E" class="ion-no-border">
    <ion-grid class="header-grid">
      <ion-row class="ion-align-items-baseline">
        <ion-col class="ion-justify-content-start">
          <ion-buttons>
            <ion-back-button defaultHref="/tab1" style="color: white;"></ion-back-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher #refresherRef slot="fixed" (ionRefresh)="refreshNotifications($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-list class="notifications-list">
    <ion-card *ngFor="let item of notifications">
      <ion-grid class="comments-grid">
        <ion-row style="padding-left: 8px;
        padding-top: 8px;">
          <ion-col>
            <ion-row>
              <ion-col>
                <img
                  [src]="item.userAvi"
                  class="user-pic img-center"
                />
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <img [src]="item.icon" />
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="2.5">
            <ion-row>
              <ion-col>
                <p>
                  <strong>{{item.name}}</strong> {{item.verbage}}
                  {{item.isComment == true ? "\"" + item.comment + "\"": ""}}
                </p>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-end">
              <ion-col class="ion-align-self-end">
                <ion-note>{{ item.time | dateAgo }}</ion-note>
                <!-- <ion-text color="medium">{{item.time}}</ion-text> -->
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
