// ion-content ion-toolbar {
//   --background: translucent;
// }

.user-pic {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
p{
  margin: 0px;
  padding-top: 6px;
  padding-right: 2px;
  padding-bottom: 12px;
}
// .notifications-list {
//   background: rgba(18, 140, 126) !important; 
// }
ion-content {
  --padding-top: 10%;
}

.comments-grid {
  --ion-grid-columns: 3;
  --ion-grid-column-padding: 1px;
  --ion-grid-padding: 1px;
}

ion-card {
  margin-bottom: 10px !important;
  margin-top: 4px !important;
}