<div class="splash">
<ion-header class="ion-no-border">
  <ion-toolbar color="#128C7E" class="ion-no-border">
    <ion-grid class="header-grid">
      <ion-row class="ion-align-items-baseline">
        <ion-col class="ion-justify-content-start">
          <ion-buttons>
            <ion-back-button defaultHref="/tab1" (click)="dismiss()" style="color: beige;"></ion-back-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>  
     
    
<ion-content no-bounce>
    <h1>{{displayVisitedText ? titleTextVisited : titleTextToVisit}}</h1>
    <h3>
      Click a location on the map to zoom to it. Double click the location to
      select/deselect it.
    </h3>
    <div class="map-search-container">
      <ion-searchbar (focusout)="show(true)"  (search)="searchvalue()" (focusin)="show(false)"  spellcheck="true"  [(ngModel)]="filterTerm"></ion-searchbar>
      <ion-list  *ngIf="hide == true">
        <ion-item *ngFor="let data of countries.Countries | filter:filterTerm" (click)="dataas(data)">
         
          <ion-label>{{data.name}}</ion-label>
        
        </ion-item>
        <ion-item *ngFor="let data of states.States | filter:filterTerm" (click)="dataas(data)">
         
          <ion-label>{{data.name}}</ion-label>
        
        </ion-item>
      </ion-list>
    </div>
    <div id="mark-map" class="chartdiv"></div>
    <div class="button-div">
      <ion-row>
        <ion-col>
      <ion-button
        class="submit-button"
        expand="block"
        type="submit"
        (click)="onSubmit()"
        >Update my map</ion-button
      >
      </ion-col>
      <ion-col>
      <ion-button
        class="submit-button"
        expand="block"
        type="submit"
        (click)="dismiss()"
        >Cancel</ion-button
      >
      </ion-col>
      </ion-row>
    </div>
</ion-content>
</div>
