<ion-content no-bounce>
  <div class = "splash">
  <h1>{{displayVisitedText ? titleTextVisited : titleTextToVisit}}</h1>
  <h3>Click a location on the map to zoom to it. Double click the location to select/deselect it.</h3>
  <div id="mark-map" class="chartdiv"></div>
  <div class="button-div">
    <ion-button class="submit-button" expand="block" type="submit" (click)="onSubmit()">Update my map</ion-button>
    <ion-button class="submit-button" expand="block" type="submit" (click)="dismiss()">Cancel</ion-button>
  </div>
</div>
</ion-content>
