<ion-content [scrollY]="false">
  <div class="map-search-container">
    <ion-searchbar (focusout)="show(true)"  (search)="searchvalue()" (focusin)="show(false)"  spellcheck="true"  [(ngModel)]="filterTerm"></ion-searchbar>
    <ion-list  *ngIf="hide == true">
      <ion-item *ngFor="let data of countries.Countries | filter:filterTerm" (click)="dataas(data)">
       
        <ion-label>{{data.name}}</ion-label>
      
      </ion-item>
      <ion-item *ngFor="let data of states.States | filter:filterTerm" (click)="dataas(data)">
       
        <ion-label>{{data.name}}</ion-label>
      
      </ion-item>
    </ion-list>
  </div>
  <div id="filter-map" class="chartdiv" onload="onLoad()"></div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="medium" expand="block" (click)="resetFilter()"
          >Reset</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button
          class="filter-button"
          expand="block"
          (click)="filterSubmit()"
          >Filter</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
