<ion-content lines="none" [scrollEvents]="false">
  <ion-item lines="none">Mark Location</ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../../../assets/UI/visitedIcon.svg">
      </ion-col>
      <ion-col size="10">Visited</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../../../../assets/UI/toVisitIcon.svg">
      </ion-col>
      <ion-col size="10">Wants to visit</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content lines="none" [scrollEvents]="false">
  <ion-item lines="none">Add Post</ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../../../assets/UI/pictureIcon.svg">
      </ion-col>      
      <ion-col size="10">Image</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../../../../assets/UI/postIcon.svg">
      </ion-col>     
       <ion-col size="10">Post</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
