<ion-content lines="none" [scrollY]="false">
  <ion-item lines="none"><b>Mark Location</b></ion-item>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../../../assets/UI/visitedIcon.svg">
        </ion-col>
        <ion-col size="10" (click)="markVisitedLocations()"><b>Visited</b></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../../../assets/UI/toVisitIcon.svg">
        </ion-col>
        <ion-col size="10" (click)="markLocationsToVisit()"><b>Wants to visit</b></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-item lines="none"><b>Add Post</b></ion-item>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../../../assets/UI/pictureIcon.svg">
        </ion-col>
        <ion-col (click)="addNewImage()" size="10"><b>Image</b></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../../../assets/UI/postIcon.svg">
        </ion-col>
        <ion-col (click)="addNewPost()" size="10"><b>Post</b></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
