<ion-content no-bounce>
  <div class = "splash">
  <h1>About {{firstName}}</h1>
  <h3>Just a little more about you!</h3>
  <form [formGroup]="aboutForm" (ngSubmit)="onSubmit()">  
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-avatar>
            <img (click)="getUserImage()" [src]="userImage">
          </ion-avatar>
        </ion-col>
        <ion-col>
         <h3>Choose a sweet profile pic</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="roundedInput">
            <ion-datetime formControlName="birthday" placeholder="Birthday*" displayFormat="MM/DD/YYYY" [min]="minDate" [max]="maxDate" startrequired></ion-datetime>          
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.birthday">
              <div class="error-message" *ngIf="aboutForm.get('birthday').hasError(validation.type) && (aboutForm.get('birthday').dirty || aboutForm.get('birthday').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
        <ion-col>
          <ion-item class="roundedInput">
            <ion-input autocapitalize="true" placeholder="BirthPlace*" type="text" formControlName="birthPlace" required></ion-input>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.birthPlace">
                <div class="error-message" *ngIf="aboutForm.get('birthPlace').hasError(validation.type) && (aboutForm.get('birthPlace').dirty || aboutForm.get('birthPlace').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="roundedInput">
            <ion-input autocapitalize="true" placeholder="Current Residence*" type="text" formControlName="residence" required></ion-input>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.residence">
                <div class="error-message" *ngIf="aboutForm.get('residence').hasError(validation.type) && (aboutForm.get('residence').dirty || aboutForm.get('residence').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="roundedInput">
            <ion-input autocapitalize="true" placeholder="Education*" type="text" formControlName="education" required></ion-input>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.education">
                <div class="error-message" *ngIf="aboutForm.get('education').hasError(validation.type) && (aboutForm.get('education').dirty || aboutForm.get('education').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="roundedInput">
            <ion-input autocapitalize="true" placeholder="Title or Employment*" type="text" formControlName="title" required></ion-input>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.title">
                <div class="error-message" *ngIf="aboutForm.get('title').hasError(validation.type) && (aboutForm.get('title').dirty || aboutForm.get('title').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-item>
          <div class="validation-errors">
            <div class="error-message" *ngIf="hasError">
              <ion-icon name="information-circle-outline"></ion-icon> {{ error }}
            </div>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="button-div">
      <ion-button class="submit-button" expand="block" type="submit" [disabled]="!aboutForm.valid">Next</ion-button>
    </div>
  </form>
  </div>
</ion-content>
