<ion-header style="background-color:#128C7E">
  <ion-toolbar color="#128C7E">
    <ion-grid class="header-grid">
      <ion-row class="ion-align-items-baseline">
        <ion-col class="ion-justify-content-start">
          <ion-buttons class="ion-justify-content-start"> 
            <ion-button class="ion-justify-content-start circle-pic" (click)="openProfile()">
              <img class="img-center circle-pic" src="../../assets/defaultuser.png">
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col class="ion-justify-self-bottom"> 
          <img height="60px" width="120px" src="../../assets/logos/whiteLogo.png">
        </ion-col>
        <ion-col class="ion-justify-content-end">
          <ion-buttons class="ion-justify-content-end"> 
            <ion-button class="ion-justify-content-end" (click)="presentSearchModal()">  
              <img class="img-center" src="../../assets/UI/search-outline.svg" >
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false" color="light">
  <post [items]="items"></post>
</ion-content>
<ion-fab class="map-filter-fab" vertical="bottom">
  <ion-button fill="clear" (click)="presentMapFilter()">
    <img src="../../assets/UI/FilterClosed.svg">
  </ion-button>
</ion-fab>
