ion-content{
  --background: translucent;
}

ion-toolbar{
  --min-height:2%!important;
  --padding-top: 10px;
}

.circle-pic{
  width:40px;
  height:30px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.post-pic{
  --border-radius: 75%
}

.card-title{
  font-size:20px;
  font-weight: normal;
  padding-bottom: 5px;
}

.header-grid {
--ion-grid-columns: 3;
}

.img-center {
  position: relative;  
  margin: auto;
}

.map-filter{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  width: 153!important;
  height: 75!important;
}

.btn {
  border: none;
  background-color: inherit;
  font-size: 16px;
  display: inline-block;
}

.comment{
  --padding-start: 0px;
  --inner-padding-end: 0px;
  --padding-bottom: 0px;
  }