<ion-content no-bounce>
  <h1>Upload Image</h1>
    <h3>Everyone loves a nice travel related photo!</h3>
    <ion-grid>
      <ion-row>
        <ion-col>
            <div>
              <img (click)="getUserImage()" height="300" [src]="userImage" class="rcorners">
            </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="roundedInput">
            <ion-textarea [(ngModel)]="postText" rows="10" placeholder="Caption*" maxlength="250" autocapitalize="true" required></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="roundedInput">
            <ion-label>Location*</ion-label>
            <ionic-selectable
              [(ngModel)]="selectedLocation"
              [items]="locationOptions"
              itemValueField="id"
              itemTextField="name"
              [canSearch]="true">
            </ionic-selectable>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="button-div">
      <ion-button class="submit-button" expand="block" type="submit" (click)="post()" [disabled]="!postText && selectedLocation !== undefined">Add post</ion-button>
      <ion-button class="submit-button" expand="block" type="submit" (click)="dismiss()">Cancel</ion-button>
    </div>
</ion-content>
