<div class="splash">
<ion-header class="ion-no-border">
  <ion-toolbar color="#128C7E" class="ion-no-border">
    <ion-grid class="header-grid">
      <ion-row class="ion-align-items-baseline">
        <ion-col class="ion-justify-content-start">
          <ion-buttons>
            <ion-back-button defaultHref="/tab1" (click)="dismiss()" style="color: white;"></ion-back-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>    
<ion-content no-bounce scrollY>
    <h1>Upload Image</h1>
    <h3>Everyone loves a nice travel related photo!</h3>
    <ion-grid>
      <ion-row>
        <img *ngIf="userImage != '../../../assets/UI/clickToUpload.jpg'"
        [src]="userImage"
        [alt]="userImage"
        class="rcorners"
        (click)="getUserImage()"
      />
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-button
            style="margin: 0px;
            padding: 0px;"
            class="submit-button"
            expand="block"
            type="submit"
            (click)="getUserImage()"
            >Click here to Upload Image</ion-button
          >
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="roundedInput">
            <ion-textarea
              [(ngModel)]="postText"
              rows="5"
              placeholder="Caption*"
              maxlength="250"
              autocapitalize="true"
              autocomplete=“true” 
              spellcheck=“true”
              class="rcorners"
              required
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="roundedInput">
            <ion-label>Location*</ion-label>
            <ionic-selectable
              [(ngModel)]="selectedLocation"
              [items]="locationOptions"
              itemValueField="id"
              itemTextField="name"
              [canSearch]="true"
            >
            </ionic-selectable>
          </ion-item>
        </ion-col>
      </ion-row>
      <div class="button-div">
        <ion-row>
        <ion-col>
        <ion-button
          class="submit-button"
          expand="block"
          type="submit"
          (click)="post()"
          [disabled]="!postText || !selectedLocation || userImage == '../../../assets/UI/clickToUpload.jpg'"
          >Add post</ion-button
        >
        </ion-col>
        <ion-col>
        <ion-button
          class="submit-button"
          expand="block"
          type="submit"
          (click)="dismiss()"
          >Cancel</ion-button
        >
        </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <div class="validation-errors">
      <div class="error-message" *ngIf="error">
        <ion-icon name="information-circle-outline"></ion-icon> Unexpected error
        when creating post
      </div>
    </div>
</ion-content>
</div>
