<ion-content no-bounce [scrollY]="false" class="form-content">
  <div class="splash">
    <h1>Welcome</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <ion-item class="roundedInput">
        <ion-input
          autocapitalize="true"
          placeholder="Email"
          type="email"
          formControlName="email"
          required
        ></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.email">
            <div
              class="error-message"
              *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)"
            >
              <ion-icon name="information-circle-outline"></ion-icon> {{
              validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-item>
      <ion-item class="roundedInput">
        <ion-input
          autocapitalize="true"
          [type]="passwordType"
          placeholder="Password"
          formControlName="password"
          required
        ></ion-input>
        <ion-icon
          name="eye"
          item-right
          (click)="togglePasswordMode()"
        ></ion-icon>
      </ion-item>
      <div class="validation-errors">
        <div class="error-message" *ngIf="getInvalidLogin">
          <ion-icon name="information-circle-outline"></ion-icon>
          {{invalidLoginText}}
        </div>
      </div>
      <div class="button-div">
        <ion-button
          class="submit-button"
          expand="block"
          type="submit"
          [disabled]="!loginForm.valid"
          >Login</ion-button
        >
      </div>
    </form>
    <div>
      <ion-button
        class="submit-button"
        expand="block"
        type="submit"
        (click)="openRegister()"
        >Register</ion-button
      >
    </div>
    <div class="button-div">
      <ion-button class="facebook-button" expand="block">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Login with Facebook
      </ion-button>
      <ion-button class="apple-button" expand="block">
        <ion-icon slot="start" name="logo-apple"></ion-icon>
        Sign in with Apple
      </ion-button>
    </div>
  </div>
</ion-content>
