<ion-content [scrollY]="false">
  <div class="center-any-object">
    <h3 >Reset Password</h3>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="roundedInput">
          <ion-input
            autocapitalize="true"
            autocomplete=“true” 
            spellcheck=“true”            
            placeholder="Email"
            type="email"
            [(ngModel)]="userEmail"
            required
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="reset-button" expand="block" (click)="onSubmit()"
          >Submit</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button
          color="medium"
          expand="block"
          (click)="closeModal()"
          >Close</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
