<ion-virtual-scroll [items]="posts" approxItemHeight="500">
  <ion-card
    *virtualItem="let post; let itemBounds = bounds"
    [ngClass]="{
      'post-image-container': post.postContentLink,
      'post-container': post.postContentLink === undefined
    }"
  >
    <!-- <card-flip #card> -->
    <!-- <div class ="card-flip-front" *ngIf="!card.flipped"> -->
    <div class="card-flip-front">
      <ion-grid class="three-col-grid">
        <ion-row>
          <ion-col size=".6">
            <ion-avatar>
              <img [src]="post.fkUser.avi" (click)="openProfile(post)" />
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-card-title class="card-title"
                >{{ post.fkUser.firstname }}
                {{ post.fkUser.lastname }}</ion-card-title
              >
            </ion-row>
            <ion-row>
              <ion-card-subtitle color="medium">{{
                post.location.locationName
              }}</ion-card-subtitle>
            </ion-row>
          </ion-col>
          <ion-col size=".4">
            <ion-buttons>
              <ion-button class="ion-justify-content-center">
                <img src="../../assets/UI/optionsDots.svg" />
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-align-items-baseline">
            <ion-col>
              {{ post.postCaption }}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="post.postContentLink">
            <ion-col>
              <div class="swiper-zoom-container" >
                <img ionImgViewer 
                  [src]="post.postContentLink"
                  height="300"
                  [alt]="post.name"
                  class="rcorners"
                  (click)="openViewer(post.postContentLink)"
                />
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-buttons>
                <ion-button
                  class="ion-justify-content-center"
                  (click)="likePost(post)"
                >
                  <img
                    [src]="
                      post.likedByCurrentUser == true ? likedIcon : likeIcon
                    "
                  />
                </ion-button>
                {{ post.likeCount || 0 }}
              </ion-buttons>
            </ion-col>
            <ion-col size="4">
              <ion-buttons>
                <ion-button
                  class="ion-justify-content-center"
                  (click)="viewComments(post)"
                >
                  <img src="../../assets/UI/comments.svg" />
                </ion-button>
                {{ post.commentCount || 0 }}
              </ion-buttons>
            </ion-col>
            <ion-col class="align-self-center text-center">
              <ion-note>{{ post.postTime | dateAgo }}</ion-note>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-buttons>
          <!-- <ion-button class="btn" flip-card (click)="card.flip()"> -->
          <ion-button class="btn" (click)="viewComments(post)">
            View all comments
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </div>
    <!-- <div class ="card-flip-back" *ngIf="card.flipped">
        <ion-card-content>
          <ion-buttons>
            <ion-button class="btn" flip-card (click)="card.flip()">
              Back to post
            </ion-button>
          </ion-buttons>
            <ion-virtual-scroll [items]="notifications">
            <ion-item  *virtualItem="let comment; let itemBounds = bounds;" class="comment">
              <ion-grid class="comments-grid">
                <ion-row>
                  <ion-col class="ion-align-self-center">
                    <ion-row class="ion-align-items-center">
                      <ion-col>
                        <img src="../../../assets/stockPhoto.png" class="user-pic img-center">
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="2.2">
                    <ion-row>
                      <ion-col>
                        <p><strong>{{comment.name}}</strong> {{comment.verbage}} {{comment.isComment == true ? "\"" + comment.comment + "\"": ""}}</p>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-text color="medium">{{comment.time}}</ion-text>
                      </ion-col>
                    </ion-row>          
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-virtual-scroll>
        </ion-card-content>
      </div> -->
    <!-- </card-flip> -->
  </ion-card>
</ion-virtual-scroll>
