.card-title {
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 5px;
}

.btn {
  border: none;
  background-color: inherit;
  font-size: 16px;
  display: inline-block;
}

.circle-pic {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.comments-grid {
  --ion-grid-columns: 3;
}

.user-pic .rcorners {
  width: 50px;
  height: 50px;
}

.comment {
  margin-bottom: 5px !important;
  margin-top: 4px !important;
}

.post-image-container {
  height: 100% !important;
}

.post-container {
  height: 5.5% !important;
}

ion-card-content {
  padding-top: 0 !important;
  padding: 5px;
  padding-bottom: 10px !important;
}

ion-card {
  max-height: 580px;
}

.three-col-grid {
  --ion-grid-columns: 3;
}

.rcorners {
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
}

.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container.flipped .flipper {
  transform: rotateY(180deg);
}


/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}