<!-- <ion-header style="background-color: #128c7e">
  <ion-toolbar color="#128C7E">
    <ion-grid class="header-grid">
      <ion-row class="ion-align-items-baseline">
        <ion-col class="ion-justify-content-start">
          <ion-buttons class="ion-justify-content-start">
            <ion-button
              class="ion-justify-content-start circle-pic"
              (click)="openProfile()"
            >
              <img
                class="img-center circle-pic"
                src="{{image}}"
              />
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col class="ion-justify-self-bottom">
          <img
            height="60px"
            width="120px"
            src="../../assets/logos/whiteLogo.png"
          />
        </ion-col>
        <ion-col class="ion-justify-content-end">
          <ion-buttons class="ion-justify-content-end">
            <ion-button
              class="ion-justify-content-end"
              (click)="presentSearchModal()"
            >
              <img
                class="img-center"
                src="../../assets/UI/search-outline.svg"
              />
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header> -->
<ion-header style="background-color:#128C7E" class="ion-no-border">
  <ion-toolbar color="#128C7E" class="ion-no-border">
    <ion-grid class="header-grid">
      <ion-row class="ion-align-items-baseline">
        <ion-col class="ion-justify-content-start">
          <ion-buttons>
            <ion-back-button defaultHref="/tab1" style="color: white;"></ion-back-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="true">
<ion-card
[ngClass]="{
  'post-image-container': post.postContentLink,
  'post-container': post.postContentLink === undefined
}"
>
<div class="card-flip-front">
  <ion-grid class="three-col-grid">
    <ion-row>
      <ion-col size=".6">
        <ion-avatar>
          <img [src]="post.fkUser.avi" (click)="openProfile(post.fkUserId)" />
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-card-title class="card-title"
            >{{ post.fkUser.firstname }}
            {{ post.fkUser.lastname }}</ion-card-title
          >
        </ion-row>
        <ion-row>
          <ion-card-subtitle color="medium">{{
            post.location.locationName
          }}</ion-card-subtitle>
        </ion-row>
      </ion-col>
      <ion-col size=".4">
        <ion-buttons>
          <ion-button class="ion-justify-content-center">
            <img src="../../assets/UI/optionsDots.svg" />
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-align-items-baseline">
        <ion-col>
          {{ post.postCaption }}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="post.postContentLink">
        <ion-col>
          <div class="swiper-zoom-container" >
            <img ionImgViewer 
              [src]="post.postContentLink"
              height="300"
              [alt]="post.postId"
              class="rcorners"
              (click)="openViewer(post.postContentLink)"
            />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-buttons>
            <ion-button
              class="ion-justify-content-center"
              (click)="likePost(post)"
            >
              <img
                [src]="
                  post.likedByCurrentUser == true ? likedIcon : likeIcon
                "
              />
            </ion-button>
            {{ post.likeCount || 0 }}
          </ion-buttons>
        </ion-col>
        <ion-col size="4">
        </ion-col>
        <ion-col class="align-self-center text-center">
          <ion-note>{{ post.postTime | dateAgo }}</ion-note>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-input
        type="text"
        placeholder="Comment"
        [(ngModel)]="commentText"
      ></ion-input>
      <button [disabled]="!canSend" clear item-right (click)="commentOnPost()">
        Send
      </button>
    </ion-item>
  </ion-card-content>
</div>
</ion-card>
  <h1
    *ngIf="comments.length === 0"
    class="ion-text-center ion-justify-center"
    style="height: 100%; flex-direction: column"
  >
    No comments! Be the first!
  </h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-virtual-scroll [items]="comments">
          <ion-item
            *virtualItem="let comment; let itemBounds = bounds;"
            class="comment"
          >
            <ion-grid class="comments-grid">
              <ion-row>
                <ion-col class="ion-align-self-center">
                  <ion-row class="ion-align-items-center">
                    <ion-col>
                      <img
                        [src]="comment.user.avi"
                        class="user-pic img-center"
                        (click)="openProfile(comment.user.id)"
                      />
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="2.2">
                  <ion-row>
                    <ion-col>
                      <p>
                        <strong
                          >{{comment.user.firstName}}
                          {{comment.user.lastname}}</strong
                        >
                        {{comment.comment}}
                      </p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-text color="medium"
                        >{{comment.date | dateAgo}}</ion-text
                      >
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
