/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.center-any-object {
    display: flex;
    justify-content: center;
}

.img-center {
    position: relative;  
    margin: auto;
}

.refresher-ios .refresher-pulling-icon, .refresher-ios .refresher-pulling-text, .refresher-ios .refresher-refreshing-icon, .refresher-ios .refresher-refreshing-text { color: var(--ion-text-color,#128C7E); }
ion-refresher-content {
  background: white;
}
.search-modal { 
    background: rgba(0, 0, 0, 0.5) !important; 
    padding: 5% 10% !important; 
    .modal-wrapper {
         border-radius: 20px; 
         background: transparent;
        } 
}

.add-modal { 
    // background: rgba(0, 0, 0, 0.5) !important; 
    padding-top: 140% !important;
    .modal-wrapper {
         border-radius: 20px; 
         background: transparent;
    } 
    .modal-shadow {
        height: 0;
    }
}

.filter-modal { 
    // background: rgba(0, 0, 0, 0.5) !important; 
    padding-top: 100% !important;
    .modal-wrapper {
         border-radius: 20px; 
         background: transparent;
    } 
    .modal-shadow {
        height: 0;
    }
}

.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.facebook-button{
    --background: #3b5998;
    --background-activated: #3b5998;
    --ripple-color: #3b5998;
    --background-focused: #3b5998;
    --color-focused: #3b5998;
    color: #fff;
  
    --vertical-align: middle;
    padding-left: 5%;
    padding-right: 5%;
    ion-icon {
      padding-right: 5%;
    }
  }
  
  .apple-button{
    --background: #000;
    --background-activated: ##000;
    --ripple-color: ##000;
    --background-focused: ##000;
    --color-focused: ##000;
    color: #fff;
  
    --vertical-align: middle;
    padding-left: 5%;
    padding-right: 5%;
    ion-icon {
      padding-right: 5%;
    }
  }