<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227659578598-9rkm364gbb6m3ao7o6biilqbph9c4kgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227659578598-9rkm364gbb6m3ao7o6biilqbph9c4kgk</string>
	<key>API_KEY</key>
	<string>AIzaSyAU-T9KH5LXVYPofvttGgnYnGEvgiMOcsU</string>
	<key>GCM_SENDER_ID</key>
	<string>227659578598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.visittravelapp.visit</string>
	<key>PROJECT_ID</key>
	<string>visit-4efb7</string>
	<key>STORAGE_BUCKET</key>
	<string>visit-4efb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227659578598:ios:fec16bcf05a32c059d8f27</string>
</dict>
</plist>